{% extends 'base.html.twig' %}

{% block title %}SocialPubli-test{% endblock %}

{% block body %}

<div class="container">
    <h1 class="my-4">Personajes de Star Wars</h1>
    <form id="fetch-people-form" class="mb-3">
        <label for="pageInput" class="form-label">Página:</label>
        <input type="number" id="pageInput" name="pageInput" value="1" min="1" class="form-control mb-2">
        <button type="submit" class="btn btn-primary">Obtener datos</button>
    </form>

    <div id="charactersTable" class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Altura</th>
                    <th>Masa</th>
                    <th>Color de pelo</th>
                    <th>Color de piel</th>
                    <th>Color de ojos</th>
                    <th>Año de nacimiento</th>
                    <th>Género</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            document.getElementById('fetch-people-form').addEventListener('submit', function(event) {
                event.preventDefault();
                let page = document.getElementById('pageInput').value;

                const formdata = new FormData();
                formdata.append("page", page);

                const requestOptions = {
                method: "POST",
                body: formdata
                };

                fetch(`/api/people`, requestOptions)
                    .then(response => response.json())
                    .then(data => {
                        let tableBody = document.querySelector('#charactersTable tbody');
                        tableBody.innerHTML = '';
                        data.results.forEach(character => {
                            tableBody.innerHTML += `
                                <tr>
                                    <td>${character.name}</td>
                                    <td>${character.height}</td>
                                    <td>${character.mass}</td>
                                    <td>${character.hair_color}</td>
                                    <td>${character.skin_color}</td>
                                    <td>${character.eye_color}</td>
                                    <td>${character.birth_year}</td>
                                    <td>${character.gender}</td>
                                </tr>
                            `;
                        });
                        console.log(tableBody);
                    })
                    .catch(error => console.error('Error fetching data:', error));
            });
        })
    </script>
{% endblock %}